<?xml version="1.0" ?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee    
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
			com.udla.edu.ec.servlet.LoginServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	
	<filter>
		<filter-name>DefaultFilter</filter-name>
		<filter-class>
			com.udla.edu.ec.filter.DefaultFilter
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>DefaultFilter</filter-name>
		<url-pattern>/login.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>FilterExample</filter-name>
		<filter-class>
			com.udla.edu.ec.filter.FilterExample
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>FilterExample</filter-name>
		<url-pattern>/welcome.jsp</url-pattern>
	</filter-mapping>


	<listener>
		<listener-class>
			com.udla.edu.ec.sessionlisteners.ListenerExample
		</listener-class>
	</listener>
	
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>myPage.html</welcome-file>
	</welcome-file-list>
</web-app>